html{
  font-size: 14px;
}

:root{
  --black : #111517;
  --white : white;
  --background : #FAFAFA;
}

body{
  font-family: 'Baloo 2', cursive;
}

main{
  background : var(--background) ;
  min-height: 100vh;
  font-family: 'Baloo 2', cursive;
  color : var(--black);
}

.is-dark-mode {
  --black : white;
  --white : #273542;
  --background : #1a2833;
}

.is-light-mode {
  --black : #111517;
  --white : white;
  --background : #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black : white;
    --white : #273542;
    --background : #1a2833;
  }
}
